<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>teams</th>
        <th>country</th>
        <th>league</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach(function(t) { %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.country %></td>
          <td><%=t.league%></td>
          <td><a href="/teams/<%= t._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
</body>
</html>    



 
<%- include('../partials/footer') %>